<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title></title>
 
  </head>

    <body>
      <table>
        <tr>
          <td>
            <form method="POST"  action="http://127.0.0.1:8080/api/addminibus">
              <input type="submit" value="Add minibus">
          </form>
          </td>
          <td>
            <form method="POST"  action="http://127.0.0.1:8080/api/addhatchback">
              <input type="submit" value="Add hatchback">
          </form>
          </td>
          <td>
            <form method="POST"  action="http://127.0.0.1:8080/api/addsportcar">
              <input type="submit" value="Add sportcar">
          </form>
          </td>
        </tr>
      </table>
    </body>
</html>